 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>This is the course website for Håvard Kråkenes, student number 220888, in the course Systems and Control Laboratory - IIA4217 as part of the Online Master of Science in Industrial IT and Automation at the University of South-Eastern Norway.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/haavardnk/IIA4217" class="btn btn-lg btn-outline">
                        <i class="fa fa-github"></i> Github
                    </a>
                </div>
            </div>
        </div>
    </section>
